<h1 align="center">Signup!</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= bootstrap_form_for :user, url: '/users' do |f| %>

  			<%= f.text_field :name %>
  			<%= f.text_field :email %>
  			<%= f.text_field :cpf %>
  			<%= f.text_field :telephone %>
  			<%= f.text_field :registry %>
  			<%= f.password_field :password %>
  			<%= f.password_field :password_confirmation %>
  			<%= f.submit "Submit", :class => 'btn btn-primary' %>

		<% end %>
	</div>
</div>
