<h1>Signup!</h1>

<div>
<%= form_for :user, url: '/users' do |f| %>

  Name: <%= f.text_field :name %>
  Email: <%= f.text_field :email %>
  CPF: <%= f.text_field :cpf %>
  Telefone: <%= f.text_field :telephone %>
  Matrícula: <%= f.text_field :registry %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <%= f.submit "Submit", :class => 'btn btn-primary' %>

<% end %>

</div>
