<%= form_for :user, url: "/pictures", :html => {:multipart => true} do |f| %>
	<%= f.fields_for :pictures do |p| %>
   	<%= p.file_field :image %>

   	<div class="row">
   		<div class="input-field">
   			<i class="material-icons prefix">label</i>
   			<%= p.text_field :title, class:'validate', id:'title' %>
   			<label for="title" class="active">Título</label>
   		</div>
   	</div>

   	<div class="row">
   		<div class="input-field">
   			<i class="material-icons prefix">label</i>
   			<select name="pictures[category]" class="icons">
   				<option value="" disabled selected>Escolha a categoria</option>
   				<option value="pictures">Satélite</option>
   				<option value="arcgis">Arcgis</option>
   				<option value="shapes">Shapes</option>
   			</select>
   			<label>Categorias</label>
   		</div>
   	</div>

    <div class="row">
      <div class="input-field">
        <i class="material-icons prefix">mode_edit</i>
        <%= p.text_area(:description, size:"20x30", class:'materialize-textarea', id:'textarea') %>
        <label for="textarea" class="active">Descrição</label>
      </div>
    </div>
   <% end %>

	<!-- Fix bug with this textarea -->
  

  <div class="row center-align">
    <button class="btn waves-effect waves-light" type="submit" name="action">
      <i class="material-icons right">send</i>
      <%= f.submit 'Pronto' %>
    </button>
  </div>
<% end %>


<!-- Show picures -->
<% if false %>
<% @user.pictures.each do |p| %>
<div class="card">
  <%= cl_image_tag(p.image.url, :width => 318, :height => 180, :folder => "arcgis", :class => "card-img-top") %>
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<% end %>

<% end %>

<script>
  $('select').material_select();
</script>