<section>
  <!-- Search field -->
  <!-- Commented -->
  <div class="row">
    <div class="col s12 m12 l12">
    <% if false %>
      <%= search_form_for @q do |f| %>
        <div class="row">
          <div class="input-field">
            <i class="material-icons prefix">search</i>
            <%= f.search_field :name_cont %>
          </div>
        </div>
        <div class="row center-align">
          <button class="btn waves-effect waves-light">
            <i class="material-icons right">search</i>
            <%= f.submit 'Pesquisar' %>
          </button>
        </div>
      <% end %>
    <% end %>
      
    </div>
  </div>

<!-- Add Photo Modal -->
<div class="row">
    <a class="modal-trigger waves-effect waves-light btn" href="#modal1"><i class="material-icons">add_a_photo</i>Imagem</a>  

    <div id="modal1" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h4>Modal Header</h4>
        <%= render "upload_sat" %>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
      </div>
    </div>
  </div>

  <!-- Tabs -->
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s4"><a href="#sat">Satélite</a></li>
        <li class="tab col s4"><a class="active" href="#arcgis">Arcgis</a></li>
        <li class="tab col s4"><a href="#shapes">Shapes</a></li>
      </ul>
    </div>

<!-- Conteiners of Tabs -->
<div id="sat">
  <!-- Cards here -->
    <% @user.pictures.each_slice(3) do |group| %>
      <div class="row">
        <% group.each do |picture| %>
        <div class="col s4">
          <div class="card">
            <div class="card-image">
              <%= cl_image_tag(picture.image.url, :folder => "arcgis", :class => "card-img-top materialboxed") %>
              <span class="card-title"><%= picture.title %></span>
            </div>
            <div class="card-content">
              <p><%= picture.description %></p>
            </div>
            <div class="card-action">
              <a href="#">Download</a>
            </div>
          </div>
        </div>
      <% end %>
      </div> 
    <% end %>
</div>

<div id="arcgis">
  <!-- Cards here -->
    <% @user.arcgis.each_slice(3) do |group| %>
      <div class="row">
        <% group.each do |picture| %>
        <div class="col s4">
          <div class="card">
            <div class="card-image">
              <%= cl_image_tag(picture.image.url, :folder => "arcgis", :class => "card-img-top materialboxed") %>
              <span class="card-title"><%= picture.title %></span>
            </div>
            <div class="card-content">
              <p><%= picture.description %></p>
            </div>
            <div class="card-action">
              <a href="#">Download</a>
            </div>
          </div>
        </div>
      <% end %>
      </div> 
    <% end %>
</div>

<div id="shapes">
  <!-- Cards here -->
    <% @user.shapes.each_slice(3) do |group| %>
      <div class="row">
        <% group.each do |picture| %>
        <div class="col s4">
          <div class="card">
            <div class="card-image">
              <%= cl_image_tag(picture.image.url, :folder => "arcgis", :class => "card-img-top materialboxed") %>
              <span class="card-title"><%= picture.title %></span>
            </div>
            <div class="card-content">
              <p><%= picture.description %></p>
            </div>
            <div class="card-action">
              <a href="#">Download</a>
            </div>
          </div>
        </div>
      <% end %>
      </div> 
    <% end %>
</div>

<!-- Sort Images -->
<% if false %>
  <div class="row">
    <div class="col s12 m12 l12">
      <p class="center-align"><%= sort_link(@q, :name, "Ordenar", default_order: :asc) %></p>
    </div>
  </div>
<% end %>

  <!-- Show Images -->
  <!-- IMPORTANT:- This cards images will be into containers of  tabs. -->
  <% if false %>
  <div class="row card center-align">
   <% @archives.each do |archive| %>
      <div class="col s12 m3 l2">
        <%= link_to archive, class:"img-link" do %>
          <%= image_tag archive.avatar.url(:medium) %>
          <p class="center-align bold"><%= archive.name %></p>
        <% end %>
      </div>
    <% end %>
  </div>
  <% end %>

<!-- Pagination -->
<% if false %>
  <div class="row">
    <div class="col s12 m12 l12">
      <%= will_paginate @archives, previous_label:h("<"), next_label:h(">") %>
    </div>
  </div>
  <% end %>

  <!-- Back Page -->
  <% if false %>
  <div class="fixed-action-btn">
    <%= link_to new_archive_path, class:'btn-floating btn-large waves-effect waves-light red' do %>
      <i class="large material-icons">add</i>
    <% end %>
  </div>
  <% end %>
</section>

<script>
    $('.modal').modal();
</script>

