<%= form_for @archive, html: { multipart: true } do |f| %>

  <div class="row">
    <div class="file-field input-field">
      <div class="waves-effect waves-light btn">
        <i class="material-icons">add_a_photo</i>
        <span>Imagem</span>
        <%= f.file_field :avatar %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" disabled>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="input-field">
      <i class="material-icons prefix">label</i>
      <%= f.text_field :name, class:'validate', id:'title' %>
      <label for="title" class="active">Título</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field">
      <i class="material-icons prefix">label</i>
      <select name="archive[category]" class="icons">
        <option value="" disabled selected>Escolha a categoria</option>
        <option value="Imagens de satélite">Imagens de satélite</option>
        <option value="Imagens Arcgis">Imagens Arcgis</option>
        <option value="Imagens de Shapes">Imagens de Shapes</option>
        <option value="Imagens pessoais">Imagens pessoais</option>
        <option value="Imagens de pedras">Imagens de pedras</option>
      </select>
      <label>Categorias</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field">
      <i class="material-icons prefix">mode_edit</i>
      <%= f.text_area(:description, size:"20x30", class:'materialize-textarea', id:'textarea') %>
      <label for="textarea" class="active">Descrição</label>
    </div>
  </div>


  <div class="row center-align">
    <button class="btn waves-effect waves-light" type="submit" name="action">
      <i class="material-icons right">send</i>
      <%= f.submit 'Submit' %>
    </button>
  </div>

<% end %>

<script>
  $('select').material_select();
</script>
