<div class="row">
  <div class="col s12 m12 l12">
    <%= search_form_for @q do |f| %>
      <div class="row">
        <div class="input-field">
          <i class="material-icons prefix">search</i>
          <%= f.search_field :name_cont %>
        </div>
      </div>
      <div class="row center-align">
        <button class="btn waves-effect waves-light">
          <i class="material-icons right">search</i>
          <%= f.submit 'Pesquisar' %>
        </button>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col s12 m12 l12">
    <h2 class="center-align">Arquivos de imagem</h2>
    <p class="center-align"><%= sort_link(@q, :name, "Ordenar", default_order: :asc) %></p>
  </div>
</div>

<div class="row card center-align">
  <% @archives.each do |archive| %>
    <div class="col s12 m3 l2">
      <%= link_to archive, class:"img-link" do %>
        <%= image_tag archive.avatar.url(:medium) %>
        <p class="center-align bold"><%= archive.name %></p>
      <% end %>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col s12 m12 l12">
    <%= will_paginate @archives, previous_label:h("<"), next_label:h(">") %>
  </div>
</div>

<div class="fixed-action-btn">
  <%= link_to new_archive_path, class:'btn-floating btn-large waves-effect waves-light red' do %>
    <i class="large material-icons">mode_edit</i>
  <% end %>
</div>

