<p id="notice"><%= notice %></p>

<h1 class="center-align">Arquivos de imagem</h1>

<% @archives.each do |archive| %>
  <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><%= archive.name %></div>
      <div class="collapsible-body">
        <%= image_tag archive.avatar.url(:thumb) %>
        <%= link_to archive, class:'waves-effect waves-teal btn-flat right' do %>
          <i class="material-icons">image</i>
          Mostrar
        <% end %>
        <%= link_to edit_archive_path(archive), class:'waves-effect waves-teal btn-flat right' do %>
          <i class="material-icons">edit</i>
          Editar
        <% end %>
        <%= link_to archive, method: :delete, data: { confirm: 'Are you sure?' }, class:'waves-effect waves-teal btn-flat right' do %>
          <i class="material-icons">delete</i>
          Deletar
        <% end %>
      </div>
    </li>
  </ul>
<% end %>

<div class="fixed-action-btn">
  <%= link_to new_archive_path, class:'btn-floating btn-large waves-effect waves-light red' do %>
    <i class="large material-icons">mode_edit</i>
  <% end %>
</div>
